* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
html,
body {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    color: #ffffff;
    background: linear-gradient(180deg, $dark-purple 0%, $retro-pink 30%, $retro-pink 70%, $sunset-orange 80%, $sunny-yellow 100%);
}

main {
    padding: 24px;
    margin: 24px;
    min-height: 92vh;
    background: rgba($retro-pink, .35);
}

h1.main-title {
    font-size: 78px;
    font-weight: 800;
    text-align: center;
}
  
  