$retro-pink: #f92596;
$punk-purple: #b90bb8;
$dark-purple: #361b8e;
$blue: #156ac5;
$green: #0FAEBF;
$sunset-orange: #fc4c06;
$sunny-yellow: #ffde1c;
$black: #000000;
$white: #ffffff;

$all-colors: (
    $retro-pink,
    $punk-purple,
    $dark-purple,
    $blue,
    $green,
    $sunset-orange,
    $sunny-yellow,
)